.dart_tool/
.appdata/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

*.iml
.idea/
.vscode/
.env
.env.*
!.env.example
.env.local
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies